In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import sklearn.metrics as metrics
import joblib

C:\Users\chint\AppData\Local\Temp\ipykernel_22152\912062181.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [28]:
pd_data = pd.read_csv("../Fertilizer.csv")

In [29]:
crop_dict={
    'Cotton':1,
    'Rice':2,
    'Groundnut':3,
    'Maize':4,
    'Soyabean' :5,
    'Grapes':6,
    'chickpea':7,
    'kidneybeans':8,
    'pigeonpeas':9,
    'mothbeans':10,
    'mungbean':11,
    'blackgram':12,
    'lentil':13,
    'pomegranate':14,
    'banana':15,
    'mango':16,
    'watermelon':17,
    'muskmelon':18,
    'apple':19,
    'orange':20,
    'papaya':21,
    'coconut':22,
    'jute':23,
    'coffee':24,
    'Soyabeans':25,
    'beans' :26,
    'peas':27,
    'cowpeas':28

}

In [30]:
pd_data['Crop_Num']=pd_data['Crop'].map(crop_dict)

In [31]:
pd_data=pd_data.drop(['Crop'],axis=1)
pd_data.head()

,Nitrogen,Phosphorus,Potassium,Temperature,pH,Rainfall,Fertilizer,Crop_Num
0,105,40,50,25.0,6.0,800.0,DAP,1
1,110,40,50,25.0,6.0,800.0,DAP,1
2,115,40,50,25.0,6.0,800.0,DAP,1
3,120,40,50,25.0,6.0,800.0,DAP,1
4,125,40,50,25.0,6.0,800.0,DAP,1

In [32]:
target = 'Fertilizer'
features = ['Nitrogen', 'Phosphorus', 'Potassium','Temperature','Rainfall','pH', 'Crop_Num']
X = pd_data[features]
y = pd_data[target]

In [33]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30)

In [34]:
X_train.shape

(2699, 7)

In [36]:
dtree = DecisionTreeClassifier()
dtree.fit(X_train, y_train)
y_pred = dtree.predict(X_test)
accuracy = accuracy_score(y_test, y_pred)
print('Accuracy Score:', accuracy)

Accuracy Score: 0.9809853068280034

In [20]:
joblib.dump(dtree, 'fertlizer_recommendation_model.joblib')

['fertlizer_recommendation_model.joblib']